<body>
 
  <div class="logo">
    <button class="logo-icon" [routerLink]="['/login']"><img src="../../assets/img/lifeblock-logo.svg" /></button>
  </div>
  <div class="container">
    <div class="connect-your-wallet mat-title" style="height: 5vh">
      Enter beneficiary details.
      <mat-icon *ngIf="allocationTotal() < 100" (click)="addClicked()"> person_add</mat-icon>
    </div><br>
    <div style="text-align:center;">
      <div *ngFor="let beneficiary of beneficiaries; let i = index">
        <beneficiary-info (beneficiaryUpdate)="beneficiaryUpdate($event)"
                          (editUpdate)="editUpdate($event)"
                          (deleteUpdate)="deleteUpdate($event)"
                          [showEdit]="showEdit[i]"
                          [index]="i"
                          [beneficiary]="beneficiary"
                          [allocation]="beneficiary.allocation">
        </beneficiary-info>
      </div>
    </div><br><br><br><br><br><br><br>
    <div style="padding-bottom: 15px;">
      <button mat-button color="success" type="submit" class="hover-class" (click)="onSubmit()" style="position: fixed; left: 5%; bottom: 2%; color: #202020;">Submit</button>
    </div>
  </div>
</body>
