
<div style="padding: 25px; background-color: #373736;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Beneficiary</mat-card-title>
      <div style="margin-left: auto; margin-right: 0px">
        <mat-icon *ngIf="showEdit" (click)="editClicked()" style="padding-right: 10px"> border_color</mat-icon>
        <mat-icon (click)="deleteClicked()"> delete</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="beneficiaryForm" (ngSubmit)="onSubmit()" style="padding-bottom: 10px; padding-top: 10px">
        <div layout="row">
          <mat-form-field appearance="standard">
            <mat-label style="color: white;" >First name</mat-label>
            <input style="color: white;" matInput formControlName="firstName" [readonly]="showEdit">
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-form-field appearance="standard">
            <mat-label style="color: white;">Last name</mat-label>
            <input style="color: white;" matInput formControlName="lastName" [readonly]="showEdit">
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-form-field appearance="standard">
            <mat-label style="color: white;">Wallet Address</mat-label>
            <input style="color: white;" matInput formControlName="walletAddress" [readonly]="showEdit">
          </mat-form-field>
        </div>
        <div layout="row" style="padding-top: 10px">
          <mat-label>Allocation (%)&nbsp;</mat-label>
          <mat-slider (input)="allocationUpdate($event)" formControlName="allocation" [min]="0" [max]="100" [disabled]="showEdit">
          </mat-slider>
          <mat-label>{{ allocation }}</mat-label>
        </div>
        <div layout="row" style="padding-top: 20px">
          <button *ngIf="!showEdit" mat-button color="success"  class="hover-class">Save</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
