<!-- <body>
    <div class="logo">
        <button class="logo-icon" [routerLink]="['/login']"><img
                src="../../assets/img/decentrelife-logo.svg" /></button>
    </div>
    <div class="container" style="padding: 25px">
        <div>
            <a class="settings">
                John Doe
            </a><br>
            <a class="settings">
                Phone
                <mat-icon style="float: right;">keyboard_arrow_right</mat-icon>
            </a><br>

            <a class="settings">
                Email
                <mat-icon style="float: right;">keyboard_arrow_right</mat-icon>
            </a><br>
        </div>
    </div>
</body> -->

<body>
    <a class="settings" style="color: white;">
        John Doe
    </a><br>
    <a class="settings" style="color: white;">
        Phone
        <mat-icon style="float: right;">keyboard_arrow_right</mat-icon>
    </a><br>

    <a class="settings" style="color: white;" style="color: white;">
        Email
        <mat-icon style="float: right;">keyboard_arrow_right</mat-icon>
    </a><br>
</body>