body {
    background-color: #F0F0F0 !important;
  }
  
  
  mat-form-field {
      width: 100%;
    }
  
  
  h2 {
      vertical-align: top;
      font-weight: bold;
      color: #373736;
      font-size: 28px;
      text-align: center;
  }
  
  .mat-success {
      background-color: white;
      color: #202020;
      width: 100%;
  }
  
  .logo-icon {
    background-position: center;
    background-size: cover;
    background-color: #F0F0F0;
    border: none;
    margin-top: 40px;
  }
  
  .logo {
    display: grid;
    height: 30vh;
    margin: 0px;
    grid-template-rows: auto auto;
    background-size: cover;
    border-radius: 25px 25px 0px 0px;
    background-position: center;
    /* background-image: url(../../assets/img/lifeblock-logo.svg); */
    background-position: center;
    background-size: cover;
    background-color: #F0F0F0;
  }
  
  .container {
    display: grid;
    height: 30vh;
    margin: 0px;
    background-color: white;
    background-size: cover;
    border-radius: 35px 35px 0px 0px;
  }
  
  
  .connect-your-wallet {
    vertical-align: top;
    font-weight: bold;
    color: black;
    text-align: center;
    top: 50px;
    position: relative;
  }
  
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;
  }
  
  .not-empty-select.mat-selected {
    color: white !important;
  }
  
  :host /deep/ .mat-select-value-text {
    color: white !important;
  }
  
  button {
    margin: 0 10px; /* Adjust the value to increase/decrease space between buttons */
    padding: 10px 20px; /* Adjust the value to increase/decrease button size */
    font-size: 18px; /* Adjust the value to change the font size */
  }
  