<body>

  <div class="logo">
    <button class="logo-icon" [routerLink]="['/login']"><img src="../../assets/img/zk-vote-logo-login.svg"/></button>
  </div>
    <div class="container">
      <div class="connect-your-wallet">Connect your wallet</div>
      <div style="text-align:center;">
        <button class="metamask-button"
                (click)="onConnectMetamask()"
                [routerLink]="['/vote']">
          <img src="../../assets/img/metamask-logo.svg" style="width: 90%; height:auto;" />
        </button>
      </div>
      <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
    </div>
</body>
