body {
    background-color: #202020 !important;
  }
  


.logo-icon {
    background-position: center;
    background-size: cover;
    background-color: #202020;
    border: none;
  }
  
  .logo {
    display: grid;
    height: 25vh;
    margin: 0px;
    grid-template-rows: auto auto;
    background-size: cover;
    border-radius: 25px 20px 0px 0px;
    background-position: center;
    /* background-image: url(../../assets/img/lifeblock-logo.svg); */
    background-position: center;
    background-size: cover;
    background-color: #202020;
  }



  .container {
    display: grid;
    /* height: 70vh; */
    margin: 0px;
    background-color: #202020;
    background-size: cover;
    border-radius: 25px 25px 0px 0px;
  }

  .mat-card {
    background-color: #373736;
    color: white;
  }

  .mat-card-subtitle {
    color: white;
  }
  