<body>
    <mat-card [routerLink]="['/profile']" class="user">
        <mat-card-header>
            <img src="../../assets/img/avatar.png" mat-card-avatar>
            <mat-card-title>John Smith</mat-card-title>
            <mat-card-subtitle style="color: black">Name, phone & email</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <br>

    <a [routerLink]="['/vote']" class="settings">
        Vote
        <mat-icon style="float: right;">keyboard_arrow_right</mat-icon>
    </a><br>

    <a class="settings" style="color: red;" [routerLink]="['/login']" class="settings">
        Log out
    </a>
</body>