<div class="policy-modal">
        <h1>Create your life insurance policy</h1>
        <h2>Overview of Life Block</h2>
        <ul>
                <li>Life Block is a protocol that provides a decentralized alternatetive to insurance.
                        <!-- Life Block is a Decentralized Application (DApp), which interacts with the Ethereum Test Network (Rinkeby). Life Block offers a parametric insurance solution where the claims and pricing is done automatically via algorithms and data. -->
                </li>
                <br>
                <li>Life insurance policies are automated via blockchain, smart contract, and Soulbound Token (SBT)
                        technology.
                </li>
                <br>
                <li>Death certificates are published on the blockchain and will automatically trigger the smart contract
                        (aka.
                        the
                        life insurance policy on the blockchain) to initiate the death benefit pay-out process.</li>
        </ul>
        <h2>Industry insights</h2>
        <ul>
                <li>Revenue-wise, the <a href="https://www.iii.org/fact-statistic/facts-statistics-life-insurance">life
                                insurance
                                industry generated $922 billion</a> in 2019, a 2% increase from 2018’s $904 billion.
                </li><br>
                <li>In Canada, <a href="https://reviewlution.ca/resources/canadian-life-insurance-statistics/">40% of
                                Canadians have no
                                life
                                insurance at all,</a> with approximately 4 million Canadians under 35 looking for
                        individual insurance coverage.</li>
        </ul>
        <button mat-button color="success" (click)="closeModal()">OK</button>
</div>